 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 325px;
    height: 100vh;
    background: linear-gradient(90.27deg, rgba(126, 130, 135, 0.44) 2.64%, rgba(66, 69, 73, 0) 102.5%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    margin-top: 40px;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
 
  .h2 {
    margin-left: 16px;
    font-size: 18px;
  }
  
  .list {
    padding: 16px;
  }
  
  .list a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .list a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
